* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white; /* Ensure the background is white */
}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.centered-text {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 100%;
}

.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'middle middle middle middle middle middle' 
      'footer footer footer footer footer footer';
  }
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
}
