@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

body {
  min-height: 0;
  background: #222 no-repeat;
  background-size: border-box;
  background-position: center;
  color: white;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #55d6aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
}

.center {
  position: fixed;
  top: 20;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 50;
}

div.abs {
  position: absolute;
  top: 80px;
  left: 0;
  width: 250px;
  height: 100px;
}

div.pros {
  position: absolute;
  top: 80px;
  left: 0;
  width: 1000px;
  height: 100px;
}

a:link {
  color:white;
  background-color: transparent;
}

a:visited {
  color:white;
  background-color: transparent;
}

a:hover {
  color:blue;
  background-color: transparent;
}

a:active {
  color:blue;
  background-color: transparent;
}