@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
* {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

body {
  min-height: 0;
  background: #222 no-repeat;
  background-size: border-box;
  background-position: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #55d6aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}