  <!-- START HEADER -->
  <br>
  <center>
    <div style="display: inline-block; vertical-align:middle;">
      <a href="/" class="title"><b>THOMAS TUBINAS'S WEBSITE</b><br>
      </a>
      <hr>
      <div style="text-align: justify;display: inline-block; width: 100%;">
        <a class="title" href="https://github.com/Thomas-Tubinas?tab=repositories" target="_blank">GITHUB&nbsp;</a>
        <!-- &nbsp; -->
        <a class="title" href="https://www.linkedin.com/in/thomas-tubinas" target="_blank">LINKEDIN</a>
        <!-- &nbsp; -->
        <a class="title" href="Resume.pdf" target="_blank">&nbsp;RESUME</a>
        <!-- &nbsp; -->
        <a class="title" href="https://tryhackme.com/p/EG01ST" target="_blank">&nbsp;TRYHACKME</a>
      </div>
    </div>
  </center>
  <br>
  <br>
  <!-- END HEADER -->
